<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Događaji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Događaji</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let event of events$ | async">
      <ion-label>{{ event['name'] }}</ion-label>
      <ion-button color="secondary" (click)="registerForEvent(event)">Attend</ion-button>
      <ion-badge>{{ event['date'].toDate() | date }}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>