<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Delegati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Delegati</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar 
  (ionChange)="changeFilter($event)" 
  ></ion-searchbar>

<div *ngIf="users$ | async | async as Users">
  <ion-card *ngIf="!filter" >
    <ion-card-header>
      <ion-title color="primary" class="ion-text-center" >Ukupno ih ima: {{ Users.length }}</ion-title>
      <ion-card-content>
        <ion-text class="ion-text-justify" >
          Ukoliko treba da ih bude vise, nista strasno.
          Izloguj se, uloguj ponovo i malo duze sacekaj
          na ovoj strani. Napusti stranu pa se vrati. Da
          li su sada svi tu? Ponavljaj dok ih ne bude 
          tacno koliko treba. U kalkulaciji ucestvuju i
          SUMA nalozi.
        </ion-text>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let user of Users" >
    <!-- By far the most cursed thing here ^^^^^^^^^^ -->
    <ion-card-content *ngIf="filterOut(user['fullName'])" >
      <div style="display: flex; justify-content: space-between;" >
        <ion-title color="primary" >{{ user['fullName'] }}</ion-title>
        <div>
          <ion-button (click)="call(user['phone'])">
            <ion-icon name="call"></ion-icon>
          </ion-button>
          <ion-button (click)="message(user['phone'])">
            <ion-icon name="chatbox"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>