.page-background {
  --background: none;
  background-image: url('../../../assets/images/news_back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  z: -1;
}
