<!-- Content -->
<ion-card style="max-width: 80%; margin: 5% 10%;" >
  <ion-card-header>
    <ion-card-title class="ion-text-center" >
      {{ selectedId ? "Menjanje" : "Nova vest" }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-input 
      type="text" 
      [(ngModel)]="title"
      placeholder="Title"
      >
    </ion-input>
    
    <ion-textarea 
      [(ngModel)]="description"
      placeholder="Description"
      autoGrow="true"
      >
    </ion-textarea>
  
    <br>
    
    <div
    *ngIf="!selectedId" 
    style="display: flex; justify-content: space-evenly;" >
      <ion-button 
        [disabled]="!title || !description" 
        color="success"
        (click)="createNew()" 
        >
        Objavi
      </ion-button>
      <ion-button 
      [disabled]="!title && !description"
      color="danger"
      (click)="clear()"
      > 
        Ponisti 
      </ion-button>
    </div>
    <div 
    *ngIf="selectedId" 
    style="display: flex; justify-content: space-evenly;" >
      <ion-button 
        [disabled]="!title || !description" 
        color="success"
        (click)="updateNews()" 
        >
        Potvrdi
      </ion-button>
      <ion-button
        color="secondary"
        (click)="this.clear()"
      >
        Ponisti
      </ion-button>
      <ion-button 
      [disabled]="!title && !description"
      color="danger"
      (click)="deleteNews()"
      > 
        Obrisi
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>

<div *ngIf="news$ | async as news">
<ion-title *ngIf="news.length" >Aktivne vesti:</ion-title>
    <app-news 
    (click)="selectNews(n)"
    *ngFor="let n of news" 
    [data]="n" 
    [titleOnly]="true" ></app-news>
</div>

<!-- Toasts -->
<ion-toast
class="ion-text-center"
[isOpen]="openToast"
[message]="toastMessage"
[color]="success ? 'success' : 'danger'"
[duration]="3000"
(didDismiss)="openToast=false"
></ion-toast>
