<ion-app>
  <div *ngIf="!loading else loadingTemplate" style="display: contents;" >
    <ion-split-pane *ngIf="success" contentId="main-content" >
      <ion-menu contentId="main-content" type="overlay">
        <ion-content>
          <ion-list id="inbox-list">
            <ion-list-header> 
              <ion-text color="primary" >Math</ion-text> 
              <ion-text color="secondary" >Verse</ion-text>
            </ion-list-header>
            <ion-note>by SUMA</ion-note>
  
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item *ngIf="role >= p.role" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
  
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content">
        <ion-button id="open-modal" ></ion-button>
      </ion-router-outlet>
    </ion-split-pane>
  </div>


  <ion-modal canDismiss="false">
    <ng-template>
      <ion-content class="ion-padding stop">
        <br>
        <br>
        <br>
        <br>  
        <ion-item>
          <ion-text style="padding: 1em 0;" >
            Dobrodošli na 
            <ion-text color="primary" >Math</ion-text> 
            <ion-text color="secondary" >Verse</ion-text>
            !
            Unesite email adresu koju ste koristili pri prijavi za ovu konferenciju uz šifru koju ste dobili putem mejla. 
            Ukoliko niste dobili mejl sa šifrom (a nije ni u spam folderu), kontaktirajte člana organizacije što pre.
          </ion-text>
        </ion-item>
        <br>
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <div style="display: flex; justify-content: center;" >
          <ion-button (click)="confirm()" [strong]="true" *ngIf="email && password" >Confirm</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ng-template #loadingTemplate >
    <div style="
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      height: 100vh;" >
      <ion-spinner name="crescent"></ion-spinner>
      <ion-label>Logging in...</ion-label>
    </div>
  </ng-template>

</ion-app>
