ion-content {
  --background: none;
  background-image: url('../../../assets/images/profil_back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
}
