<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agenda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment (ionChange)="switchSegment($event)" value="{{selectedSegment}}">
    <ion-segment-button value="26">
      <ion-label>26. 10.</ion-label>
    </ion-segment-button>
    <ion-segment-button value="27">
      <ion-label>27. 10.</ion-label>
    </ion-segment-button>
    <ion-segment-button value="28">
      <ion-label>28. 10.</ion-label>
    </ion-segment-button>
    <ion-segment-button value="29">
      <ion-label>29. 10.</ion-label>
    </ion-segment-button>
  </ion-segment>


  <!-- Don't ask... -->
  <div *ngIf="data | async as Data" style="display: contents;" >
    <div *ngFor="let d of Data">
      <ion-card *ngIf="d['day'] == selectedSegment" >
        <ion-card-content>
          <ion-item *ngFor="let i of d['activities']" >
            <div
            style="
                   display: flex;
                   width: 100%;
                   gap: 1em;
                   align-items: center;
                   " >
              <p *ngFor="let s of (i | split: '@'); let i = index" [ngClass]="{'bold-text': isSecond(i)}" style="flex: 1;">
                {{ s }}
              </p>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
